<div class="containerw-100 p-3">
  <div class="hstack gap-2">
    <h2 class="mb-0">ESP32 Status</h2>
    <span class="ms-auto">{{ current | date:'HH:mm:ss' }}
      <br> {{ current | date:'dd-MM-yyyy' }}</span>
  </div>
  <span [ngStyle]="on ? {'color': 'green'} : {'color': 'red'}">
    {{ on ? 'ONLINE' : 'OFFLINE' }}
  </span>
  <hr class="mt-0">

  <div class="d-flex justify-content-between h-25 align-content-center">
    <div class="card m-1 rounded-3 w-50">
      <div class="d-flex justify-content-center align-items-center bg-danger" style="height: 100px;">
        <i [ngClass]="{'bi-thermometer-high': lastUpdate.temp >= 30, 'bi-thermometer-low': lastUpdate.temp <= 18, 'bi-thermometer-half': lastUpdate.temp > 18}"
          class="bi text-white"></i>
      </div>
      @if (lastUpdate.temp == 0) {
      <div class="spinner-border text-danger mx-auto my-3" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>}
      @else { <h1 class="text-center my-auto">{{lastUpdate.temp}}°</h1> }
    </div>


    <div class="card m-1 rounded-3 w-50">
      <div class="d-flex justify-content-center align-items-center bg-primary" style="height: 100px;">
        <i class="bi bi-moisture text-white"></i>
      </div>
      @if (lastUpdate.humi == 0) {
      <div class="spinner-border text-primary mx-auto my-3" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>}
      @else {<h1 class="text-center my-auto">{{lastUpdate.humi}}%</h1>}
    </div>

  </div>

  <div class="card m-1">
    <div class="d-flex flex-column justify-content-center align-items-center bg-success" style="height: 150px;">
      <i class="bi bi-brightness-high-fill"></i>
      <h5 class="text-white">{{setting}}</h5>
    </div>
    @if (lastUpdate.lum == null) {
    <div class="spinner-border text-success mx-auto my-3" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>}
    @else {<h1 class="text-center my-auto">{{lastUpdate.lum}}%</h1>}
    </div>

<br>

  <ngx-charts-line-chart [view]="[innerWidth, 300]" [legend]="legend" [showXAxisLabel]="false" [showYAxisLabel]="false"
      [xAxis]="xAxis" [yAxis]="yAxis" [timeline]="timeline"
      [results]="data">
    </ngx-charts-line-chart> 

    @if (!granted) {
      <div class="w-100 text-center">
        <button (click)="test()" class=" btn mx-auto btn-secondary" type="button">Enable temperature alerts</button>
      </div>
    } 
    
</div>